.bg-maintenance-image
{
    background-image: url(../../../app-assets/images/backgrounds/BG-GREAT-2023.jpg); 
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;;
    background-size: fixed;
}
